.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.header__logo a, .header__navItems a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800
}

.header__navItems{
    font-weight: 800 !important;
}

.header__navItems{
    display: flex;
    align-items: center;
    gap: 16px;
}